Source: ros-kinetic-phm-robot-task-completion
Section: misc
Priority: optional
Maintainer: Hakan GENCTURK <hakan.gencturk@inovasyonmuhendislik.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-roslint, ros-kinetic-rospy, ros-kinetic-rostest, ros-kinetic-rosunit, ros-kinetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-phm-robot-task-completion
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-rospy, ros-kinetic-rostest, ros-kinetic-std-msgs
Description: The phm_robot_task_completion package
